
.CommentList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 10px 0px;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    background-color: black;
}