@import "../../assets/styles/global_variables.css";

.TextInput{
    --base-font-size: 18px;
    --text-clr: var(--text-clr);
    --label-clr: var(--text-clr);
    --label-font-size: calc(var(--base-font-size) * 1.33);
    --input-clr: var(--text-clr);
    --input-font-size: var(--base-font-size);
    --input-border-clr: var(--border-clr);
    --input-background-clr: black;
    --input-background-hover-clr: #111111;
    --input-focus-clr: var(--info-clr);
    --input-placeholder-clr: rgb(156, 156, 156);
    --input-placeholder-hover-clr: rgb(194, 194, 194);
    --error-message-clr: var(--error-clr);
    --error-message-font-size: calc(var(--base-font-size) * 0.88);

    width: 100%;
    display: flex;
    flex-direction: column;
}
.TextInput__label-container{
    display: flex;
    flex-direction: row;
}
.TextInput__label{
    color: var(--label-clr);
    font-size: var(--label-font-size);
}
.TextInput__input{
    color: var(--input-clr);
    border-color: var(--input-border-clr);
    border-radius: 7px;
    background-color: var(--input-background-clr);
    font-size: var(--input-font-size);
}
    .TextInput__input:focus {
        border-color: var(--input-focus-clr);
    }
    .TextInput__input:hover {
        background-color: var(--input-background-hover-clr); 
    }
    .TextInput__input:hover::placeholder {
            color: var(--input-placeholder-hover-clr);
        }
    .TextInput__input::placeholder {
        color: var(--input-placeholder-clr);
        font-style: italic;
    }
.TextInput__error-message{
    color: var(--error-message-clr);
    font-size: var(--error-message-font-size);
}