@import '../index/global_variables.css';

.RegisterPage{
    width: 100vw;
    display: grid;
    grid-template-columns: auto 1fr;
}
.registration-section{
    grid-area: 1 / 1 / 2 / 2;
    padding: 30px 70px 30px 70px;
    border-right: solid;
    background-color: var(--secondary-clr);
}
    .registration-section .sign-in-link{
        color: var(--info-clr);
    }
        .registration-section .sign-in-link{
            color: var(--info-clr);
        }



.register-poster-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    animation: slideUp 4s ease-in-out;
}
    .register-poster-container img{
        width: 350px;
        animation: fadeIn 10s ease-in-out;
    }
    .register-poster-container h1{
        opacity: 0;
        animation: fadeIn 5s ease-in-out 3s forwards;
        font-size: 64px;
        font-family: var(--font-primary);
        color: var(--text-clr);
    }
    .register-poster-container .you{
        color: var(--warning-clr);
    }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes slideUp {
    from {
        transform: translateY(70px);
    }
    to {
        transform: translateY(0);
    }
}