@import '../../assets/styles/global_variables.css';

.login-form-container{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%;
}
    .login-form-container div{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    .login-form-container .error-message{
        font-size: 16px;
    }
    .login-form-container label{
        font-size: 24px;
    }
    .login-form-container input{
        font-size: 18px;
    }
    .login-form-container button{
        font-size: 20px;
    }
    .login-form-container .login-password{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .login-password input {   
            flex-grow: 1;     
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .login-password .login-toggle-password {
            width: 70px;
            font-size: 18px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
