
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
    .Navbar .view-btns{
        display: flex;
        align-items: center;
        margin: 0px;
    }
        .Navbar .view-btns label{
            font-size: 30px;
            margin: 0px;
            padding: 0px;
        }
    .Navbar button{
        font-size: 24px;
        border: 0px;
        padding: 7px;
    }