html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.AdminView {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
}
    .AdminView__left-sidebar-section{
        grid-column: 1 / 2;
        background-color: black;
        border-right: solid;
        border-width: 1px;
    }
    .AdminView__user-list-section{
        grid-column: 2 / 3;
        padding: 20px 20px 200px 20px;
        overflow-y: scroll;
        box-sizing: border-box;
        max-height: 100vh;
    }
    .AdminView__user-detail-section{
        grid-column: 3 / 4;
        border-left: solid;
        border-width: 1px;
    }