@import '../../assets/styles/global_variables.css';

.register-form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
    .register-form-container div{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    .register-form-container label{
        font-size: 20px;
    }
    .register-form-container input{
        font-size: 16px;
        padding: 10px;
        border-width: 1px;
    }
    .register-form-container button{
        font-size: 18px;
        border-width: 1px;
    }
    .register-form-container hr{
        margin: 15px 0px;
    }
    .register-form-container .error-message{
        font-size: 16px;
    }
    .register-form-container .register-password{
        display: flex;
        flex-direction: row;
    }
        .register-password input {
            flex: 1;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .register-password .register-toggle-password {
            width: 70px;
            font-size: 16px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
.RegisterForm__register-button{
    font-size: 20px;
    background-color: var(--success-clr);
    border: solid;
    border-width: 1px;
    border-color: var(--hover-success-clr);
}
.RegisterForm__register-button:hover{
    background-color: var(--hover-success-clr);
}