@import '../index/global_variables.css';

    .LoginForm label{
        font-size: 24px;
    }
    .LoginForm input{
        font-size: 18px;
        width: 400px;
    }
    .LoginForm button{
        font-size: 20px;
    }
.error-message{
    font-size: 14px;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;  /* Space between form elements */
}
.button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 20px;
}
    .button-container button {
        flex: 1;
        text-align: center;
    }