
.PersonalInfo{
    --modified-message-clr: #37bb1d;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 400px;
}
.PersonalInfo__title{
    text-align: center;
    margin: 0px;
}
.PersonalInfo__change-button{
    margin-left: auto;
    font-size: 20px;
    background-color: var(--success-clr);
    border-width: 1px;
    border-color: var(--hover-success-clr);
}
    .PersonalInfo__change-button:hover{
        background-color: var(--hover-success-clr);
    }
.PersonalInfo__field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PersonalInfo__modified-message{
    color: var(--modified-message-clr);
    margin-left: auto;
}