
.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
}
.Navbar__left{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Navbar__center{
}
.Navbar__right{
}
.Navbar .NavLink{
    font-size: 24px;
}