
.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
}
    .Navbar button{
        border: none;
        padding: 5px;
        font-size: 24px;
    }
    .Navbar .nav-buttons{
        display: flex;
        gap: 20px;
    }