@import '../../../../../../assets/styles/global_variables.css';

.EditDiscussionForm{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.EditDiscussionForm__input-fields{
    background-color: black;
    border:solid;
    border-width: 1px;
    border-radius: 7px;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.EditDiscussionForm__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.EditDiscussionForm__buttons-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.EditDiscussionForm__create-button{
    width: 120px;
    background-color: var(--success-clr);
    border: solid;
    border-color: var(--hover-success-clr);
    border-width: 1px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}
.EditDiscussionForm__create-button:hover{
    background-color: var(--hover-success-clr);
}
.EditDiscussionForm__cancel-button{
    width: 120px;
    border: solid;
    border-width: 1px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}