@import './global_variables.css';

.success-btn{
    background-color: var(--success-clr);
}
    .success-btn:hover{
        background-color: var(--hover-success-clr);
    }
.error-message {
    color: var(--caution-clr);
    font-style: italic;
}
.required-asterix {
    color: var(--warning-clr);
}