@import "../../assets/styles/global_variables.css";

.LogoutButton{
    width: 100%;
    font-size: 20px;
    border-width: 1px;
    border-color: var(--hover-caution-clr);
    background-color: var(--caution-clr);
}
    .LogoutButton:hover{
        background-color: var(--hover-caution-clr);
    }